.footer
    display: flex
    justify-content: center
    height: 742px
    &-bg-primary
        // background: url(/assets/images/footer_bg_primary.svg) 0 0 / cover
        background-color: #ff6900
    &-bg-secondary
        // background: url(/assets/images/footer_bg_secondary.svg) 0 0 / cover
        background-color: #444444
    &-card__content
        ul 
            padding: 0
            list-style-type: none