.footer 
    display: flex
    justify-content: center
    height: 742px
    background: url(/assets/images/footer_bg.svg) 00 / cover
    &-card__content
        ul
            padding: 0
            list-style-type: none