@import "./mixins/mixin.scss";
.footer{
    display: flex;
    justify-content: center;
    height: 742px;
    &-bg-primary{
        background: url(/assets/images/footer_bg_primary.svg) 0 0 / cover;
    }
       
    &-bg-secondary{
        background: url(/assets/images/footer_bg_secondary.svg) 0 0 / cover;
    }
    &-card{
        &__title{
            @include title;
        }
    }    
    &-card__content{
        ul {
            padding: 0;
            list-style-type: none;
        }
        .card__items{
            &-item{
                @include text;
            }
        }
    }
    &__bottom{
        align-items: center;
    }    
}
   
   
