include ../includes/head
include ../includes/footer
include ../includes/nav

doctype html
html(lang="en")
    +head('Home | Digital Akademia')
    body
        +footer('primary')
        +footer('secondary')
