mixin info-list(title, arr)
    .col-12.col-sm-4
        .footer-card
            h4.footer-card__title.mb-4= title
            div.footer-card__content
                ul.card__items
                    each item in arr
                        li.card__items-item
                            a(href='#').card__items-item= item
                
mixin footer(theme)
    .footer(class='footer-bg-' + theme)
        .container
            .row
                +info-list('Направления', ['Дизайн', 'Програмирование', 'Маркетинг'])
                +info-list('Дизайн', ['Графический Дизайн', 'UI/UX Дизайн', 'Motion дизайн'])
                +info-list('Маркетинг', ['Цифровой Маркетинг', 'SMM Pro', 'Youtube', 'Targeting'])
            .row
                .col-9
                    a(href='./index.html')
                        img(src='../assets/images/logo.svg', alt='Footer logo icon')
                //- .col-3
                //-     .social-networks-box
                //-         +icons(['facebook', 'instagram', 'telegram'])
