mixin info-list(title, arr)
    .col-12.col-sm-4
        .footer-card
            h4.footer-card__title.mb-4= title
            div.footer-card__content
                ul
                    each item in arr
                        li
                            a(href='#')= item

mixin icons(arr)
    each item in arr
        a.social-networks(href='#')
            img(src='../assets/icons/' + item + '.svg', alt= item + ' ' + 'icon')

                
mixin footer(theme)
    .footer(class='footer-bg-' + theme)
        .container
            .row
                +info-list('Направления', ['Дизайн', 'Програмирование', 'Маркетинг'])
                +info-list('Дизайн', ['Графический Дизайн', 'UI/UX Дизайн', 'Motion дизайн'])
                +info-list('Маркетинг', ['Цифровой Маркетинг', 'SMM Pro', 'Youtube', 'Targeting'])
            .row
                .col-9
                    a(href='./index.html')
                        img(src='../assets/images/logo.svg', alt='Footer logo icon')
                .col-3
                    .social-networks-box
                        +icons(['facebook', 'instagram', 'telegram'])